<div>
    <form>
        <input type="text" placeholder="Search "><br>
    </form>
    <br>
    <table>
        <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th><a href="#/new">Add New User</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user._id}}</td>
            <td><a href="#/edit/{{user._id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <br>
</div>



