<form name="myForm">
    <div>
        <label>Name</label>
        <input type="text" name="name" ng-model="user.name" required>
         <span class="error" ng-show="myForm.name.$error.required">
        Required!</span>
   </div>

    <div>
        <label>Email</label>
        <input type="email" name="email" ng-model="user.email" required>
         <span class="error" ng-show="myForm.email.$error.required">
        Required!</span>
        <span class="error" ng-show="myForm.email.$error.email">
        Invalid Email!</span>
    </div>

    <div>
        <label>Phone</label>
        <input type="number" name="phone" ng-model="user.phone" required>
         <span class="error" ng-show="myForm.phone.$error.required">
        Required!</span>
    </div>
    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" class="btn" ng-disabled="myForm.$pristine || myForm.$invalid">Save</button>
    <button ng-click="destroy()" class="btn btn-danger">Delete</button>
</form>



